<a href="https://colab.research.google.com/github/lifehyun/ai/blob/%2Bpython/07%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%98%88%EC%A0%9C_%EC%8B%9C%EB%A6%AC%EC%96%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 판다스는 파이썬의 수 많은 라이브러리 가운데 레이블 형태의 자료를 수집하고 정리하는 데 매우 유용한 도구입니다. 이러한 판다스의 두 가지 대표적인 자료구조가 바로 시리즈(Series)와 데이터프레임(Dataframe)입니다.


* Pandas의 Series는 1차원 배열로서 다음의 특징을 가집니다 .
 * 데이터를 담는 차원 배열 구조를 가집니다.
 * 인덱스(index)를 사용 가능합니다.
 * 데이터 타입을 가집니다. (dtype)

In [ ]:
import numpy as np
import pandas as pa

In [ ]:
# Series의 생성
# 1.numpy array로 생성한 경우
a1 = np.arange(100 , 105)
print('넘파이',a1)
pa_a1 = pa.Series(a1)
print('판다스',pa_a1)

#2.dtype 지정하기
pa_a2 = pa.Series(a1,dtype='int32')
print('판다스2',pa_a2)
pa_a3 = pa.Series(a1,dtype='float32')
print('판다스3',pa_a3)

넘파이 [100 101 102 103 104]
판다스 0    100
1    101
2    102
3    103
4    104
dtype: int64
판다스2 0    100
1    101
2    102
3    103
4    104
dtype: int32
판다스3 0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
dtype: float32

In [ ]:
# # Series의 생성방법2 : list를 이용하기
data = [91, 2.5 , '문자', 4 , 5.16,7] # 다다른 자료형을 넣음
print(data)
pa_s2 = pa.Series(data)
print(pa_s2)
print(pa_s2.dtype) #list안에 자료가 다양하므로 모든 자료형을 표현할수 있는 object형이 나온다
print(pa_s2.index) #인덱스의 범위를 알수 있다 # 리스트 생성시 인덱스의 범위를 표기하지 않으면 자동으로 만들어진다.
print(pa_s2.size)
print(pa_s2[0])
print(pa_s2[1])
print(pa_s2[2])
print(pa_s2[3])
print(pa_s2[4])

[91, 2.5, '문자', 4, 5.16, 7]
0      91
1     2.5
2      문자
3       4
4    5.16
5       7
dtype: object
object
RangeIndex(start=0, stop=6, step=1)
6
91
2.5
문자
4
5.16

In [ ]:
pa.__version__ #판다스 버젼 확인하여 tutorial 찾아서 보기
#https://pandas.pydata.org/pandas-docs/version/1.5.3/user_guide/index.html#user-guide 모든 메뉴얼있음

#인덱싱
pa_s2[[1,3]]
pa_s2[[4,5]] #pd_s2[인덱스4, 인덱스 5 ]
a = pa_s2[np.arange(0,4,2)]
print(a)

0    91
2    문자
dtype: object

In [ ]:
#Series의 생성 방법2 - np.random.randint()를 이용하기
np.random.seed(0)
a1 = pa.Series(np.random.randint(10000,20000,size=(10,)))
print(a1)

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int64

In [ ]:
#Series의 생성 방법3 - np.random.randint()를 이용하기
np.random.seed(0)
a2 = pa.Series(np.random.randint(100,200,size=(10,)))
# print(a2)
# print(a2> 150) #논리형인 : TRUE , FALSE 로 출력된다
print(a2[a2 > 150])

2    164
3    167
4    167
6    183
9    187
dtype: int64

In [ ]:
#Series의 생성방법 4
a3 = pa.Series(['마켓팅','경영','개발','기획','인사'],index =['a','b','c','d','e'])
print(a3)
print(a3.index) #인덱스와 값을 다 보는 함수 : .index
print(a3.values)#인덱스의 값만 보는것 : .values
print(a3['a'])
print(a3[0])
print(a3[1],a3[4])
print(a3[['b','e']])
#ndim : 차원을 보는 함수
print('a3.ndim ==>',a3.ndim)
#shape : 데이터의 모양 , 데이터의 갯수
print('a3.shape -->',a3.shape)

a    마켓팅
b     경영
c     개발
d     기획
e     인사
dtype: object
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
['마켓팅' '경영' '개발' '기획' '인사']
마켓팅
마켓팅
경영 인사
b    경영
e    인사
dtype: object
a3.ndim ==> 1
a3.shape --> (5,)

In [ ]:
#NaN (Not a Number) : 결측값
a4 = pa.Series(['선화','강호', np.nan,'소정','우영'])
print(a4)
#결측값 찾기 isnull() , isna()
#결측값이면 TRUE
# a4.isnull()
a4.isna()
#TRUE갑 출력
a4[a4.isna()]

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

2    NaN
dtype: object

In [ ]:
#결측값이 아닌값은 찾기 notnull(), notna()
a4[a4.notnull()]
a4[a4.notna()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [ ]:
#슬라이싱
a5 = pa.Series(np.arange(100,150,10)) #100~ 140 까지 10개단위로 출력

#인덱싱 변형
a5.index = ['a','b','c','d','e']
print(a5)
# a5['a':'d'] #방법1
# print(a5[:])#방법2

index_list=list('abcd')
index_list
print(a5[index_list],'방법2')

a    100
b    110
c    120
d    130
e    140
dtype: int64
a    100
b    110
c    120
d    130
dtype: int64 방법2

In [ ]:

# 1. 다음의 Series를 생성하세요.

# dtype은 float32가 되도록 생성하세요

# # 코드를 입력해 주세요
s1 = pa.Series(np.arange(3,12,2),dtype='float32')
print(s1)
# [출력]

# 0 3.0

# 1 5.0

# 2 7.0

# 3 9.0

# 4 11.0

# dtype: float32



# 2.

# [출력]
s2 = pa.Series(list('가나라다마'))
print(s2)
# 0 가

# 1 나

# 2 다

# 3 라

# 4 마

# dtype: object

# 3. 다음의 Series를 생성하고 sample 변수에 대입하고 출력하세요
s3 = pa.Series(np.arange(10,60,10),index=list('가나다라마'),dtype='int64')
print(s3)
# # 코드를 입력해 주세요

# [출력]

# 가 10

# 나 20

# 다 30

# 라 40

# 마 50

# dtype: int64


# 4. sample중 '나'와 '라' 데이터를 조회하세요
s3[['나','라']]
# # 코드를 입력해 주세요

# [출력 결과]

# 나 20

# 라 40

# dtype: int64

# 5.

s5 = np.random.seed(20)
s5 = pd.Series(np.random.randint(100, 200, size=(15,)))

# sample2 중 160 이하인 데이터만 필터하세요
s5[s5[:]<160]

# 코드를 입력해 주세요
# [출력]

# 2 115

# 4 128

# 6 109

# 7 120

# 9 122

# 11 134

# 13 140

# dtype: int64

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32
0    가
1    나
2    라
3    다
4    마
dtype: object
가    10
나    20
다    30
라    40
마    50
dtype: int64

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [ ]:
# 6.

s6 = pd.Series(np.random.randint(100, 200, size=(15,)))

# sample2 중 130 이상 170 이하인 데이터만 필터하세요
# # 코드를 입력해 주세요

# [출력]

# 11 134

# 13 140

# dtype: int64


# 7.

# 다음과 같은 Series를 생성해 주세요

# # 코드를 입력해 주세요
s7 = pa.Series(['apple','NaN','banana','kiwi','gubong'],index = ['가','나','다','라','마'])
# [출력]

# 가 apple

# 나 NaN

# 다 banana

# 라 kiwi

# 마 gubong

# dtype: object

# 8.

s8 = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
# sample 중 결측치 데이터만 필터하세요
s8[s8.isna()]
# # 코드를 입력해 주세요

# [출력]

# 1 NaN

# 3 NaN

# dtype: object

# 9. sample중 결측치가 아닌 데이터만 필터하세요
# # 코드를 입력해 주세요
s8[s8.notna()]

# [출력]

# 0 IT서비스

# 2 반도체

# 4 바이오

# 5 자율주행

# dtype: object

# 10.

s10 = np.random.seed(0)
s10 = pd.Series(np.random.randint(100, 200, size=(10,)))


# sample에서 다음과 같은 결과를 가지도록 슬라이싱 하세요

# # 코드를 입력해 주세요

# [출력]

# 2 164

# 3 167

# 4 167

# 5 109

# 6 183

# dtype: int64

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [ ]:
# 11.
import numpy as np
import pandas as pd


s11= np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2


# sample2에서 다음과 같은 결과를 가지도록 슬라이싱 하세요

# # 코드를 입력해 주세요
s12 = pd.Series(np.random.randint(100, 200, size=(5,)), index=list('바사아자차'))
s12
# [출력]
# 바 109
# 사 183
# 아 121
# 자 136
# 차 187
# dtype: int64

# 11.
# [출력]
# 가 144
# 나 147
# 다 164
# dtype: int64

# 12.
s11_1 = pd.Series(np.random.randint(144,164, size=(3,)), index=list('가나다'))
s11_1


# [출력]
# 나 147
# 다 164
# 라 167
# 마 167
# 바 109
# dtype: int64

TypeError: Cannot interpret '109' as a data type

시리즈 문제